<ion-header>
  <ion-toolbar>
    <ion-title>DASHBOARD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="animais.length === 0">
    Nenhum animal cadastrado ainda.
  </div>

  <div *ngFor="let a of animais">
    <ion-card [routerLink]="['/detalhe', a.id]" button>
      <img *ngIf="a.imagem" [src]="a.imagem" class="animal-card-img">
      <ion-card-content>
        <h3>{{ a.raca }} - {{ a.cor }}</h3>
        <p><strong>{{ a.nome || 'Sem nome' }}</strong></p>
        <p>{{ a.descricao }}</p>
        <small>ID: {{ a.id }}</small>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
